html {
	background: #f2f2f2;
	color: #fff;
	text-align: center;
}

h2 {
	font-size: 60px;
}

body {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	margin: 0 auto;
}

.area-one{
	background: #49b293;
	height: 100vh;
	scroll-snap-align: start;
	align-items: center;
	justify-content: center;
}

.area-two{
	background: #c94e4b;
	height: 100vh;
	scroll-snap-align: start;
	align-items: center;
	justify-content: center;
}

.area-three{
	background: #4cc1be;
	height: 100vh;
	scroll-snap-align: start;
	align-items: center;
	justify-content: center;
}

.area-four{
	background: #8360A6;
	height: 100vh;
	scroll-snap-align: start;
	align-items: center;
	justify-content: center;
}